{{/* Pricing Block */}}

{{/* Initialise */}}
{{ $block := .wcBlock }}
{{ $page := .wcPage }}

<!-- {{ if gt (len $block.content.clients) 0 }} -->

  <div class="row">
    {{ with $block.content.title }}
      <div class="col-md-12 section-heading">
        <h1>{{ . | markdownify | emojify }}</h1>
        {{ if $block.content.subtitle }}<p>{{ $block.content.subtitle | markdownify | emojify }}</p>{{ end }}
      </div>
    {{ end }}

          <ul class="owl-carousel customers"
              data-items="{{ default 6 site.Params.CarouselCustomers.items }}"
              data-autoplay="{{ default false $block.auto_play }}"
              data-slide-speed="{{ default 2000 $block.content.slide_speed }}"
              data-pagination-speed="{{ default 1000 $block.pagination_speed }}">
              {{ range $block.content.clients }}
              <li class="item" title="{{ .name }}">
                  {{ if .url }}
                    <a href="{{ .url }}" target="_blank">
                      <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
                    </a>
                  {{ else }}
                    <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
                  {{ end }}
              </li>
              {{ end }}
          </ul> 
          <!-- /.owl-carousel
  </div>
{{ end }}
