{{/* Pricing Block */}}

{{/* Initialise */}}
{{ $block := .wcBlock }}
{{ $page := .wcPage }}


  <div class="row">
    {{ with $block.content.title }}
      <div class="col-md-12 section-heading text-center">
        <h1>{{ . | markdownify | emojify }}</h1>
        {{ if $block.content.subtitle }}<p>{{ $block.content.subtitle | markdownify | emojify }}</p>{{ end }}
      </div>
    {{ end }}

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="clients-wrapper">
            <ul class="clients">
              {{ range $block.content.clients }}
              <li class="item" title="{{ .name }}">
                {{- $image := resources.Get (printf "media/logo.png") -}}
                <img src="{{ $image.RelPermalink }}" alt="{{ .name }}" class="img-responsive" />
                <span> {{.name}}</span>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </div>


  </div>

