/* Add your block style here */
.pricing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pricing-card {
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin: 10px;
  width: 100%;
  max-width: 300px;
  max-height: 500px;


  .pricing-icon {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .pricing-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .pricing-price {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .pricing-features {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 10px;
    }
  }

  .pricing-cta {
    margin-top: 20px;

    a {
      display: inline-block;
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 5px;
      transition: background-color 0.3s;

    }
  }
}
