{{/* Pricing Block */}}

{{/* Initialise */}}
{{ $block := .wcBlock }}
{{ $page := .wcPage }}

<div class="row pricing">
  {{ with $block.content.title }}
  <div class="col-md-12 section-heading">
    <h2>{{ . | markdownify | emojify }}</h2>
    {{ if $block.content.subtitle }}<p>{{ $block.content.subtitle | markdownify | emojify }}</p>{{ end }}
  </div>
  {{ end }}

  {{ range $block.content.items }}
  <div class="col-12 col-sm-4">
    <div class="pricing-card">
      {{ with .icon }}
      <div class="pricing-icon">
        {{- if eq . "custom-icon" -}}
          <!-- Add your custom icon code or image here -->
        {{- else -}}
          <i class="fas fa-{{ . }}"></i>
        {{- end -}}
      </div>
      {{ end }}
      <div class="pricing-title">{{ .name | markdownify | emojify }}</div>
      <div class="pricing-price">{{ .price }}</div>
      <div class="pricing-subtitle">{{ .name | markdownify | emojify }}</div>
      <ul class="pricing-features">
        {{ range .features }}
        <li>{{ . | markdownify | emojify }}</li>
        {{ end }}
      </ul>
      <p class="pricing-cta">
        <a href="{{ .cta.url }}" class="btn btn-primary btn-lg mb-md-1">{{ .cta.label}}</a>
      </p>
    </div>
  </div>
  {{ end }}
</div>
