
$primary: "#145da0";

$menu_primary: "#145da0";
$menu_text: "#ffffff";
$menu_text_active: "#ffffff";
$menu_title: "#ffffff";


$link: "#145da0";
$link_hover: "#000";
$link_decoration: "underline";


$home_section_odd: "#b1d4e0";
$home_section_even: "#ffffff";
