{{/* Pricing Block */}}

{{/* Initialise */}}
{{ $block := .wcBlock }}
{{ $page := .wcPage }}


  <div class="row">
    {{ with $block.content.title }}
      <div class="col-md-12 section-heading">
        <h1>{{ . | markdownify | emojify }}</h1>
        {{ if $block.content.subtitle }}<p>{{ $block.content.subtitle | markdownify | emojify }}</p>{{ end }}
      </div>
    {{ end }}

    <ul class="clients">
        {{ range $block.content.clients }}
        <li class="item" title="{{ .name }}">
            {{- $image := resources.Get (printf "media/logo.png") -}}
            <img src="{{ $image.RelPermalink }}" alt="{{ .name }}" class="img-responsive" />
        </li>
        {{ end }}
    </ul>

    </div>

