{{/* Databases Block */}}

{{/* Initialise */}}
{{ $block := .wcBlock }}
{{ $page := .wcPage }}
{{ $bg := $block.design.background }}

  <div class="row">
    {{ with $block.content.title }}
      <div class="col-md-12 section-heading text-center">
        <h1>{{ . | markdownify | emojify }}</h1>
        {{ if $block.content.subtitle }}<p>{{ $block.content.subtitle | markdownify | emojify }}</p>{{ end }}
      </div>
    {{ end }}

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="databases-wrapper">
            <ul class="databases">
              {{ range $block.content.clients }}
              <li class="database-item text-center" title="{{ .name }}">
                {{- $image := resources.Get (printf "media/databases/%s" .image) -}}
                <div class="circle">
                  <img src="{{ $image.RelPermalink }}" alt="{{ .name }}" class="icon" />
                </div>
                <!-- <span>{{ .name }}</span> -->
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </div>


    {{ $link := $block.content.cta.url }}
    {{ $scheme := (urls.Parse $link).Scheme }}
    {{ $target := "" }}
    {{ if not $scheme }}
      {{ $link = $link | relLangURL }}
    {{ else if in (slice "http" "https") $scheme }}
      {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
    {{ end }}
    <p class="cta-btns">
      <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }} class="btn {{if $bg.text_color_light}}btn-light{{else}}btn-primary{{end}} btn-lg mb-md-1">{{ $block.content.cta.label | markdownify | emojify | safeHTML }}</a>
    </p>



  </div>
